.control-wrap {
    width: 720px;
    height: 400px;
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: height 0.5s, padding 0.5s;
    padding-top: 10px;
    box-shadow: rgb(235, 235, 235) 0px 0px 0.5rem 0px;
    border-radius: 20px;
}
